
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

* {
  font-family: "Inter", sans-serif;
}
@font-face {
  font-family: 'TimeburnerBold';
  src: url('./assets/font/TimeburnerBold-peGR.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

:root {

  /* ################################ */

/* Navigation footer */
  --bg: #F5F5F5;
  --primary: #1B81BC;
  --secondary: #7D8DA6;

  /* ################################ */



  --text: #6b6375;
  --text-h: #08060d;
  --text-muted: #808080;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;
  --Inter: "Inter", sans-serif;
  --TimeburnerBold: "TimeburnerBold", sans-serif;

  /* font: 16px/100% var(--Inter); */
}

body {
  padding: 0;
  margin: 0;
  z-index: 1;
  overflow-x: hidden;
  background-color: #fcfcfc;
}
.header{
  display: flex;
  align-items: center;
  padding: 1rem 0;
  justify-content: space-between;
  background-color: var(--social-bg);
  color: var(--text);
}

.default-Btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 10px;
  height: 44px;
  margin: 0 auto;
  width: 300px;
  border-radius: 10px;
  background: #5670F5;
  background: linear-gradient(
    180deg,
    rgba(86, 112, 245, 1) 0%,
    rgba(61, 52, 220, 1) 100%
  );
  color: white;
  border: none;
  transition: 2s ease-in-out;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.footerNav{
   display: flex;
  flex-direction: row;
  padding: 2rem 0;
  text-align: center;
  justify-content: space-evenly;
  background-color: var(--social-bg);
  color: var(--text);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  z-index: 100;
}
