palette{
  --bg: #F5F5F5;
  --primary: #1B81BC;
  --secondary: #7D8DA6;
}





.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: var(--secondary);
  gap: 0.5px;
}
.nav-link:hover {

  color: var(--primary);
}
.nav-link:focus-within {

  color: var(--primary);
}
