

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    background-color: var(--social-bg);
    color: #333;
}

.userHub{
  display: flex;
  align-items: center;
  margin-right: 2rem;
  height: 80%;
  gap: 20px;
}
.mobile-logo-header{
width: fit-content;
height: fit-content;

  img{
margin: 0;
  }
}
