

.login-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  padding: 1rem;
  margin: auto auto;
}

.login-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#login-logo{
    width: 80%;

  }
.login-input{
  font: 600 16px/1.5 "Inter", sans-serif;
  padding: 10px;
  width: 200px;
  border-radius: 10px;
}

.error-message{
  color: red;
  font: 500 16px/1.5 "Inter", sans-serif;
  text-align: center;
}

.login-button{
  padding: 10px;
  width: 200px;
  border-radius: 10px;
  background: #0F7AD9;
  background: linear-gradient(180deg, rgba(15, 122, 217, 1) 0%, #0d58b8 100%);
  color: white;
  border: none;
}


/* HTML: <div class="loader"></div> */
/* HTML: <div class="loader"></div> */
.loader {
  margin-top: 1rem;
  height: 15px;
  aspect-ratio: 4;
  --_g: no-repeat radial-gradient(farthest-side,#045bfd 90%,#0000);
  background:
    var(--_g) left,
    var(--_g) right;
  background-size: 25% 100%;
  display: grid;
}
.loader:before,
.loader:after {
  content: "";
  height: inherit;
  aspect-ratio: 1;
  grid-area: 1/1;
  margin: auto;
  border-radius: 50%;
  transform-origin: -100% 50%;
  background: #045bfd;
  animation: l49 1s infinite linear;
}
.loader:after {
  transform-origin: 200% 50%;
  --s:-1;
  animation-delay: -.5s;
}

@keyframes l49 {
  58%,
  100% {transform: rotate(calc(var(--s,1)*1turn))}
}


@media (min-width:550px) {
  #login-logo{
    width: 30%;

  }
}

@media (min-width:1000px){
  #login-logo{
    width: 25%;
  }
  .login-container{
  width: 100%;
}

.login-input{
  width: 300px;
}
.login-button{
  width: 280px;
}
}
